.show-todo {
    width: 100%;
    max-width: 700px;
}
.main_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.check{
    width: 12px;
    height: 12px;
    border: 1px solid #111;
    border-radius: 2px;
    padding: 1px;
    margin-right: 5px;
    cursor: pointer;
    z-index: 10;
}

.compl{
    background: #000;
    width: 8px;
    height: 8px;
    border-radius: 2px;
}

.itemToDO{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    width: 100%;
    margin: 5px 0;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.itemToDO.complTodo{
    position: relative;
}

.itemToDO.complTodo:after {
    position: absolute;
    left: 10px;
    top: 50%;
    height: 4px;
    background: rgba(0, 0, 0, 0.4);
    content: "";
    width: 97%;
    display: block;
}

.create-new-todo{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items_todo{
    display: flex;
    align-items: center;
}

.btn_delete{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-left: 5px;
}


.btn{
    text-transform: uppercase;
    vertical-align: bottom;
    cursor: pointer;
    border: 0;
    margin: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .4),
    0 2px 10px 0 rgba(0, 0, 0, .2);
    font-weight: 800;
    padding: 0.625rem 1.5rem 0.5rem;
    font-size: .75rem;
    line-height: 1.5;
    background-color: #6a12d5;
    color: #fff;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:hover{
    background-color: #6d00fa;

}


.input{
    transition: .3s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3),
    0 2px 10px 0 rgba(0, 0, 0, .2);
    border-radius: 0.25rem;
    border: 2px solid transparent;
    padding: 5px 10px;
    margin-bottom: 10px;

    outline: none;
    background-color: #fff;
}

.input:focus{
    border-color: #6212cb;

}

.input:hover{
    box-shadow: 0 2px 4px 0 rgba(7, 7, 7, 0.2),
    0 2px 10px 0 rgba(0, 0, 0, .1);
}

.select{
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3),
    0 2px 10px 0 rgba(0, 0, 0, .2);
    padding: 4px;
    border-radius: 0.25rem;
    background: #6a12d5;
    color: #fff;
    font-weight: 700;
    outline: none;
    border: 1px solid transparent;
}

.select:focus{
    border-color: #fff;
}

