.cont{
    background: #6a12d5;
    margin-bottom: 40px;
    box-shadow: 0 1px 12px rgba(7, 7, 7, 0.6);
    padding: 13px 5px;
}

.title{
    margin: 0;

    font-weight: 900;
    color: #fdfdfd;
    text-decoration: underline;
}

.btn_si{
    position: absolute;
    right: 10px;
    top: 25px;
    background: none;
    border: 0;
    color: #fff;
    font-weight: 900;
    text-decoration: underline;
    cursor: pointer;


}

.profile_box{
    padding: 0 20px;
    position: absolute;
    right: 20px;
    top: 9px;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 300px;
}

.img_profile{
    padding-top: 1px;
    margin-right: 10px;
}

.name_profile{
    font-weight: 900;
    padding-bottom: 3px;
}

.click_menu{
    position: absolute;
    max-width: inherit;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0,0,0 0.6);
    width: 100%;
    background-color: #6b28d0;
    padding: 15px 10px;
    top: 65px;
    transform: translateY(-300px);
    border-radius: 0 0 10px 10px;
    transition: .4s;
}


.click_menu.active {
    transform: translateY(0);


}

.switch-btn {

    width: 55px; /* ширина */
    height: 25px; /* высота */
    border-radius: 19px; /* радиус скругления */
    background: #d3d3d3; /* цвет фона */
    z-index: 0;
    margin: 14px  auto;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 400ms; /* анимация */
}
.switch-btn::after {
    content: "";
    height: 22px; /* высота кнопки */
    width: 22px; /* ширина кнопки */
    border-radius: 17px;
    background: rgba(82, 29, 166, 0.99); /* цвет кнопки */
    top: 1px; /* положение кнопки по вертикали относительно основы */
    left: 3px; /* положение кнопки по горизонтали относительно основы */
    transition-duration: 500ms; /* анимация */
    position: absolute;
    z-index: 1;

}

.switch-on:hover::after{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.switch-btn:hover::after{
    box-shadow: 0 0 14px rgba(161, 0, 255, 0.9);
}

.switch-on {
    background: #414141;
}
.switch-on::after {
    left: 30px;
    background-color: #666;
}

.profile{
    display: flex;
    align-items: center;
    cursor: pointer;
}




#toggle {
    display: none;
}

/**
  Hamburger
**/
.hamburger {
    cursor: pointer;
    position: relative;
    top: 0;
    right: 5%;
    margin-right: 5px;
    margin-top: 15px;
    width: 39px;
    height: 45px;
    z-index: 5;
}

.hamburger div {
    position: relative;
    width: 39px;
    height: 4px;
    border-radius: 3px;
    background-color: #ffffff;

    transition: .10s;
}

.meat{
    margin: 7px 0;
}

.profile_box.active_prof .meat{
    opacity: 0;
}

.profile_box.active_prof .top-bun{
    transform: rotate(40deg);
    position: absolute;
    top: 11px;
}

.profile_box.active_prof .bottom-bun{
    position: absolute;
    transform: rotate(-40deg);
    top: 12px;
}

@media (max-width: 990px) {
    .cont{
        display: flex;
        justify-content: space-between;
        padding: 13px 10px;
    }
}